<form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <input type="text" name="firstname" placeholder="firstname" formControlName="firstname">
    <br> <br>
    <input type="text" name="lastname" placeholder="lastname" formControlName="lastname">
    <br> <br>
    <select name="languages" formControlName="languages">
        <option value="C++">C++</option>
        <option value="Java">Java</option>
        <option value="Angular">Angular</option>
    </select>
    <br> <br>
    <input type="submit" [disabled]="!form.valid" value="Submit">
</form>