<md-tab-group>
    <md-tab>
        <ng-template md-tab-label>OVERVIEW</ng-template>

        <div class="component-container">



            <md-input-container class="example-full-width">
                <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
            <button md-raised-button (click)="picker.open()">Open</button>


            <datepicker></datepicker>


        </div>


    </md-tab>
    <md-tab>
        <ng-template md-tab-label>API</ng-template>

        <h1>API</h1>

    </md-tab>

    <md-tab>
        <ng-template md-tab-label>EXAMPLES</ng-template>

        <h1>EXAMPLES</h1>

    </md-tab>

</md-tab-group>