<md-tab-group>
    <md-tab>
        <ng-template md-tab-label>OVERVIEW</ng-template>

        <div class="component-container" style="height:500px;">

            <div class="datefieldContainer">
                <my-date-range-picker name="mydaterange"></my-date-range-picker>
            </div>

        </div>


    </md-tab>
    <md-tab>
        <ng-template md-tab-label>API</ng-template>

        https://github.com/kekeh/mydaterangepicker

    </md-tab>

    <md-tab>
        <ng-template md-tab-label>EXAMPLES</ng-template>

        <h1>EXAMPLES</h1>

    </md-tab>

</md-tab-group>