.mat-datepicker-toggle {
    display: inline-block;
    background: #cccccc url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…Y1YzAtMS4xLS45LTItMi0yem0wIDE2SDVWOGgxNHYxMXpNNyAxMGg1djVIN3oiLz48L3N2Zz4=) no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
    border: none;
    outline: 0;
    vertical-align: middle;
}