<md-input-container class="example-full-width">
    <input mdInput [mdDatepicker]="mypicker" placeholder="Choose a date">
    <button class="mat-datepicker-toggle" type="button" mdSuffix (click)="mypicker.open()"></button>
</md-input-container>
<md-datepicker #mypicker></md-datepicker>

<!--md-input-container class="example-full-width">
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
</md-input-container>
<md-datepicker #picker></md-datepicker>
<button md-raised-button (click)="picker.open()">Open</button-->