<md-tab-group>
    <md-tab>
        <ng-template md-tab-label>OVERVIEW</ng-template>

        <div class="component-container">


            <div>


                <div class="container">

                    <h1 style="margin: 0 0 20px 0">Configuration Builder</h1>

                    <div class="well configurator">

                        <div class="row">

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label for="parentEl">parentEl</label>
                                    <input type="text" class="form-control" id="parentEl" value="" placeholder="body" [(ngModel)]="options.parentEl">
                                </div>

                                <div class="form-group">
                                    <label for="startDate">startDate</label>
                                    <input type="text" class="form-control" id="startDate" value="07/01/2015">
                                </div>

                                <div class="form-group">
                                    <label for="endDate">endDate</label>
                                    <input type="text" class="form-control" id="endDate" value="07/15/2015">
                                </div>

                                <div class="form-group">
                                    <label for="minDate">minDate</label>
                                    <input type="text" class="form-control" id="minDate" value="" placeholder="MM/DD/YYYY">
                                </div>

                                <div class="form-group">
                                    <label for="maxDate">maxDate</label>
                                    <input type="text" class="form-control" id="maxDate" value="" placeholder="MM/DD/YYYY">
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="autoApply"> autoApply
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="singleDatePicker" [(ngModel)]="options.singleDatePicker"> singleDatePicker
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="showDropdowns" [(ngModel)]="options.showDropdowns"> showDropdowns
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="showWeekNumbers" [(ngModel)]="options.showWeekNumbers"> showWeekNumbers
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="showISOWeekNumbers" [(ngModel)]="options.showISOWeekNumbers"> showISOWeekNumbers
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="timePicker" [(ngModel)]="options.timePicker"> timePicker
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="timePicker24Hour" [(ngModel)]="options.timePicker24Hour"> timePicker24Hour
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="timePickerIncrement">timePickerIncrement (in minutes)</label>
                                    <input type="text" class="form-control" id="timePickerIncrement" value="1" [(ngModel)]="options.timePickerIncrement">
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="timePickerSeconds" [(ngModel)]="options.timePickerSeconds"> timePickerSeconds
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="dateLimit" [(ngModel)]="options.dateLimit"> dateLimit (with example date range span)
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="ranges" [(ngModel)]="options.ranges"> ranges (with example predefined ranges)
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="locale" [(ngModel)]="options.locale"> locale (with example settings)
                                    </label>
                                    <label id="rtl-wrap">
                                      <input type="checkbox" id="rtl" [(ngModel)]="options.rtl"> RTL (right-to-left)
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="alwaysShowCalendars" [(ngModel)]="options.alwaysShowCalendars"> alwaysShowCalendars
                                    </label>
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="linkedCalendars" checked="checked" [(ngModel)]="options.linkedCalendars"> linkedCalendars
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="autoUpdateInput" checked="checked" [(ngModel)]="options.autoUpdateInput"> autoUpdateInput
                                    </label>
                                </div>

                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="showCustomRangeLabel" checked="checked" [(ngModel)]="options.showCustomRangeLabel"> showCustomRangeLabel
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="opens">opens</label>
                                    <select id="opens" class="form-control" [(ngModel)]="options.opens">
                                            <option value="right" selected>right</option>
                                            <option value="left">left</option>
                                            <option value="center">center</option>
                                        </select>
                                </div>

                                <div class="form-group">
                                    <label for="drops">drops</label>
                                    <select id="drops" class="form-control" [(ngModel)]="options.drops">
                                            <option value="down" selected>down</option>
                                            <option value="up">up</option>
                                        </select>
                                </div>

                                <div class="form-group">
                                    <label for="buttonClasses">buttonClasses</label>
                                    <input type="text" class="form-control" id="buttonClasses" value="btn btn-sm">
                                </div>

                                <div class="form-group">
                                    <label for="applyClass">applyClass</label>
                                    <input type="text" class="form-control" id="applyClass" value="btn-success">
                                </div>

                                <div class="form-group">
                                    <label for="cancelClass">cancelClass</label>
                                    <input type="text" class="form-control" id="cancelClass" value="btn-default">
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 col-md-offset-2 demo">
                            <h4>Your Date Range Picker</h4>

                            <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)" />

                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        </div>

                        <div class="col-md-6">
                            <h4>Configuration</h4>

                            <div class="well">
                                <textarea id="config-text" style="height: 300px; width: 100%; padding: 10px"></textarea>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>


    </md-tab>
    <md-tab>
        <ng-template md-tab-label>API</ng-template>


        <pre><a href="https://www.npmjs.com/package/ng2-daterangepicker" target="_blank">Source</a></pre>

    </md-tab>

    <md-tab>
        <ng-template md-tab-label>EXAMPLES</ng-template>

        <h1>EXAMPLES</h1>

    </md-tab>

</md-tab-group>